.first-post{
    position:relative;
    max-height:345px;
    overflow:hidden;
    margin-bottom:30px;
}

.first-post-title{
    position:absolute;
    bottom:0;
    padding:15px 10px 20px 10px;
    background:url('images/first-title-bg.png');
    width:97.1%;
}

.first-post-title h1{
    font-size:26px;
    line-height:26px !important;
    margin:5px 0;
    padding:0;
}

.first-post-image,.first-post-image .td-post-featured-image{
    max-height:345px;
}
.first-post-image img{
    width:728px !important;
}

.first-post-title h1 a{
    color:#FFF;
    text-decoration:none;
}

.first-post-title h1 a:hover{
    text-decoration:none !important;
}

.first-post-date{
    color:#FFF;
}

#ajax_news_place .td_mod_wrap.td_mod_new{
    max-width:326px;
    display:inline-block;
    vertical-align: top;
}

#ajax_news_place .td_mod_wrap.td_mod_new:nth-child(2n){
    margin-left:42px;
}

#ajax_news_place .td_mod_new .item-details h1{
    line-height:22px !important;
    font-size:22px;
    margin:5px 0 0 0;
    padding:0;
}

#ajax_news_place .td_mod_new .td-post-featured-image{
    margin-bottom:8px !important;
}

@media screen and (max-width: 1200px){
    #ajax_news_place .td_mod_new{
        max-width:300px !important;
        width:100% !important;
        display:inline-block;
    }
    #ajax_news_place .td_mod_new:nth-child(2n){
        margin-left:25px !important;
    }
    #ajax_news_place .td_mod_new img{
        max-width:300px !important;
        width:100% !important;
    }
}

@media screen and (max-width: 1020px){
    #ajax_news_place .td_mod_new{
        max-width:230px !important;
        display:inline-block;
    }
    #ajax_news_place .td_mod_new:nth-child(2n){
        margin-left:10px !important;
    }
    #ajax_news_place .td_mod_new img{
        max-width:230px !important;
    }
    .first-post-title{
        padding:15px 4px 20px 10px
    }
    #ajax_news_place .td_mod_new .item-details h1{
        font-size:18px !important;
        line-height:18px !important;
    }
}

@media screen and (max-width: 769px){
    #ajax_news_place .td_mod_new{
        max-width:100% !important;
        display:inline-block;
    }
    #ajax_news_place .td_mod_new:nth-child(2n){
        margin-left:0 !important;
    }
    #ajax_news_place .td_mod_new img{
        max-width:100% !important;
    }
    .first-post-title{
        padding:15px 0 20px 10px
    }
}
@media screen and (max-width:725px){
    .first-post-title h1 {
        font-size: 26px !important;
    }
}


.load-more{
    text-align:center;
    margin-bottom:50px;
}

.load-more button{
    border:none;
    padding:8px 35px;
    font-size:16px;
    outline:none;
}

.load-more button:focus{
    outline:none;
}

.load-more .loading-gif{
    margin-bottom:20px;
}

.container,.span12{
    width:1100px;
}


/* FOOTER */

.td-footer-wrap .column_container{
    width:15% !important;
    margin:2% !important;
    padding:0 !important;
    text-align:center;
}

.td-footer-wrap .column_container:nth-child(3){
    width:20% !important;
}

.td-footer-wrap .column_container:nth-child(3) ul{
    margin:0;
    padding:0;
    list-style:none;
}

.td-footer-wrap .column_container:nth-child(3) ul li{
    display:inline-block;
    margin:4px;
}

.td-footer-wrap .td_mod_wrap{
    text-align:center !important;
}

.td-footer-wrap .column_container:nth-child(3) ul li a{
    width:48px;
    height:48px;
    display:block;
    margin:0 !important;
    padding:0 !important;
}


.facebook{
    background-image:url('images/icons/social/facebook.png');
}

.twitter{
    background-image:url('images/icons/social/twitter.png');
}

.google{
    background-image:url('images/icons/social/google.png');
}

.pinterest{
    background-image:url('images/icons/social/pinterest.png');
}

.social-icon{
    background-size:48px 48px;
    background-repeat:no-repeat;
}


.td-footer-wrap .block-title span{
    padding:0 !important;
}

.td_block3 .thumb-wrap{
    margin-bottom:0 !important;
}

.td_block3 h3{
    font-size:23px;
    line-height:23px !important;
    margin:5px 0 !important;
    padding:0 !important;
}

.td_block3 h3 a{
    line-height:18px !important;
}

.single-post .td-post-content .entry-title{
    font-size: 50px !important;
    line-height:50px;
}

.show-on-scroll{
    position:fixed;
    top:10px;
    z-index:999;
    display:none;
}

.show-on-scroll a{
    font-size:18px;
    padding:10px 35px;
}



.show-on-scroll span{
    top:12px;
    font-size:25px;
}

.show-on-scroll .page-nav-post a{
    border-radius:0 !important;
}

.show-on-scroll .page-nav-post a > strong{
    display:none !important;
}

@media screen and (max-width:1200px){
    .show-on-scroll{
        width:38%;
    }
}
@media screen and (max-width:1080px){
    .show-on-scroll{
        width:70%;
    }
}

@media screen and (max-width:800px) {
    .show-on-scroll{
        display:none !important;
    }
    .td-header-style-8-wrapper .td-header-bg{
        position:relative !important;
    }
    .page-nav-post a{
        font-size:22px !important;
        padding:10px 20px !important;
    }
    .page-nav-post span{
        top:12px !important;
        font-size:30px !important;
    }
}


.show-on-scroll > div{
    position:relative;
}

.td-header-style-8-wrapper .td-header-bg{
    width:100%;
    z-index:99;
    height: 60px;
}


.block-title a, .block-title span, .td-tags a:hover, .td-scroll-up-visible, .td-scroll-up, .sf-menu ul .current-menu-item > a, .sf-menu ul a:hover, .sf-menu ul .sfHover > a, .sf-menu ul .td-not-mega > a:hover, .td-rating-bar-wrap div, .iosSlider .slide-meta-cat, .sf-menu ul .current-menu-ancestor > a, .td-404-sub-sub-title a, .widget_tag_cloud .tagcloud a:hover, .td-mobile-close a, ul.td-category a, .td_social .td_social_type .td_social_button a, .dropcap, .td-forum-category-title .td-forum-category-name, .td_display_err, .td_block_mega_menu .td-ajax-next-page:hover, .td_block_mega_menu .td_ajax-prev-page:hover, .post-via span{
    background:none !important;
}

article .page-nav-post a{
    font-size:40px !important;
}

.left-banners{
    position:relative;
    width:160px;
}

.td-g-rec-id-content_top{
    overflow:hidden;
}

.td-g-rec-id-content_bottom{
    overflow:hidden;
}

.post-bottom-ad{
    position:relative;
    top:20px;
}

.row-fluid .span8{
    max-width:728px !important;
    margin-left:15px;
}

.container-fluid{
    padding-left:0;
    padding-right:0;
}
